[submodule "3dparty/boost"]
	path = 3dparty/boost
	url = https://github.com/boostorg/boost
[submodule "3dparty/faiss"]
	path = 3dparty/faiss
	url = https://github.com/facebookresearch/faiss
[submodule "3dparty/fastText"]
	path = 3dparty/fastText
	url = https://github.com/facebookresearch/fastText
[submodule "3dparty/spdlog"]
	path = 3dparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "3dparty/sentencepiece"]
	path = 3dparty/sentencepiece
	url = https://github.com/google/sentencepiece
[submodule "faiss"]
	path = faiss
	url = https://github.com/facebookresearch/faiss
[submodule "3dparty/iceoryx2"]
	path = 3dparty/iceoryx2
	url = https://github.com/eclipse-iceoryx/iceoryx2.git
[submodule "lib/cppcore"]
	path = lib/cppcore
	url = https://github.com/Bararide/cppcore
[submodule "lib/chunkees"]
	path = lib/chunkees
	url = https://github.com/Bararide/chunkees
[submodule "lib/ossec"]
	path = lib/ossec
	url = https://github.com/Bararide/ossec
[submodule "3dparty/crow"]
	path = 3dparty/crow
	url = https://github.com/CrowCpp/Crow
[submodule "3dparty/pistache"]
	path = 3dparty/pistache
	url = https://github.com/pistacheio/pistache.git
